node_modules/
.gradle/
local.properties
android/.gradle
android/app/build/
android/build/
ios/build/
ios/Pods/
ios/Podfile.lock
.xcode.env.local
*.jks
*.keystore
!debug.keystore
.env
.env.local
*.orig.*
.idea/
.DS_Store
Thumbs.db
buck-out/
\.buckd/
*.keystore
!debug.keystore
/coverage
.jest/
